/.mixin.out
/crash-reports
/defaultconfigs
/DiscordIntegration-Data
/Distant_Horizons_server_data
/downloads
/local
/logs
/profileImage
/saves
/trees
.curseclient
minecraft.instance.json
options.txt
patchouli_data.json
rhino.local.properties
usercache.json
usernamecache.json
